{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Urban Foods is not just about bringing you the good food from your favourite restaurants. It’s about making a connection, which makes us to sit down with the restaurants dreaming up your order menu’s that will arrive fresh and tastes best.</p>
            <p>For us bringing flavoured and healthy food in to you every day is our mission. That means we don’t just deliver we also bring memorable experience to customers, happiness to our partner restaurants and our workers.</p>
            <p>Connecting restaurants not only in cities but also in smaller towns and villages is our vision and change the way people eats.</p>
            <p>“Whatever you crave we can help to get it deliver”.</p>
        </div>
    </div>
</div>
{% endblock content %}
